@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin f-900 {
  font-size: 56px !important;
  font-weight: normal !important;
}
@mixin f-800 {
  font-size: 48px !important;
  font-weight: normal !important;
}
@mixin f-700 {
  font-size: 40px !important;
  font-weight: normal !important;
}
@mixin f-600 {
  font-size: 32px !important;
  font-weight: normal !important;
}
@mixin f-500 {
  font-size: 24px !important;
  font-weight: normal !important;
}
@mixin f-400 {
  font-size: 20px !important;
  font-weight: normal !important;
}
@mixin f-300 {
  font-size: 16px !important;
  font-weight: normal !important;
}
@mixin f-200 {
  font-size: 14px !important;
  font-weight: normal !important;
}
@mixin f-100 {
  font-size: 12px !important;
  font-weight: normal !important;
}

@mixin f-b-900 {
  font-size: 56px !important;
  font-weight: bold !important;
}
@mixin f-b-800 {
  font-size: 48px !important;
  font-weight: bold !important;
}
@mixin f-b-700 {
  font-size: 40px !important;
  font-weight: bold !important;
}
@mixin f-b-600 {
  font-size: 32px !important;
  font-weight: bold !important;
}
@mixin f-b-500 {
  font-size: 24px !important;
  font-weight: bold !important;
}
@mixin f-b-400 {
  font-size: 20px !important;
  font-weight: bold !important;
}
@mixin f-b-300 {
  font-size: 16px !important;
  font-weight: bold !important;
}
@mixin f-b-200 {
  font-size: 14px !important;
  font-weight: bold !important;
}
@mixin f-b-100 {
  font-size: 12px !important;
  font-weight: bold !important;
}
